
/* Estilos Gerais*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kalam', cursive;
}
body{
    background-color: #000;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(207, 178, 13);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}
h2.titulo span{
    color:rgb(207, 178, 13)
}

h2.titulo{
    color:#fff;
    font-size: 38px;
    text-align: center;

}

h2.titulo span{
    color: rgb(207, 178, 13);
}

/*ESTILO DO CABEÇALHO*/
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #6b6969;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}


header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}


.btn-contato button:hover{
    box-shadow: 0px 0px 8px rgba(255, 217, 0, 0.842);
    transform: scale(1.05);
}

.logo{
    float: left;
}

.logo img{
    height: 180px;
}

.banner{
    width: 100%;
    height: 600px;
    background: url("../img/samurai.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* ESTILO TOPO DO SITE*/
section.topo-do-site{
    padding: 60px;
}



.topo-do-site h1{
    color: #fff;
    font-size: 34px;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}


/* ESTILO DA SEÇÃO PORTFOLIO*/

section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff18;
}

section.portfolio .flex{
    justify-content: space-around;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    position: relative;
   
   
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b0;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/* ESTILO DO FORMULÁRIO DE CONTATO*/
section.formulario{
    padding: 80pxs 4%;
    box-shadow: 0 0 40px 10px #ffffff18;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;

}

form input, form textarea{
    width: 100%;
    background-color: #222222;
    border: 0;
    outline: 0;
    padding: 20px 15px; 
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea{
    resize: none;
    max-height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;

}

form .btn-enviar input{
    width: 120px;
    background-color: rgb(207, 178, 13);
    color: #000;
    font-weight: 700;
    cursor: pointer;
}